<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

## __1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
    - 14 and 12 
- 16 and 12
- 13 and 11

In [4]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
# You code here 


data1 = data[data['Year'] == 1996]
male_minage = data1[data1['Sex'] == 'M']['Age'].min()
print ('Youngest male is', male_minage, 'years old')
female_minage = data1[data1['Sex'] == 'F']['Age'].min()
print ('Youngest female is', female_minage, 'years old')
data.head()

Youngest male is 14.0 years old
Youngest female is 12.0 years old

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
    - 1.5 
- 2.5
- 7.7

In [177]:
# You code here 

data.head(20)
data2 = data[(data['Sex'] == 'M') & (data['Year'] == 2000)]
data2 = data2.drop_duplicates(subset='ID')
data2['Sport'].value_counts()
percentage = round( ( data2[data2['Sport'] == 'Gymnastics']['ID'].count() / data2['ID'].count()) * 100, 1)

print ('The percentage of male gymnasts among all the male participants of the 2000 Olympics is', percentage,'%')

The percentage of male gymnasts among all the male participants of the 2000 Olympics is 1.5 %

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
    - 182.4 and 9.1

In [203]:
# You code here

data3 = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')]
data3 = data3.drop_duplicates(subset='ID')
mean = round(data3['Height'].mean(),1)
std = round(data3['Height'].std(),1)
print (mean,'Ð¸',std)

182.4 Ð¸ 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
    - Bobsleigh 
- Weightlifting
- Boxing

In [210]:
# You code here 

data4 = data[data['Year'] == 2002]
max_weight = data4['Weight'].max()
data4 = data4[data4['Weight'] == max_weight]
print (data4['Sport'])

99154    Bobsleigh
Name: Sport, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
    - 3

In [214]:
# You code here 

data5 = data[data['Name'] == 'Pawe Abratkiewicz']
data5['Year'].nunique()

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
    - 2 
- 3

In [229]:
# You code here 
data['Sport'].unique()
data6 = data[(data['Team'] == 'Australia') & (data['Sport'] == 'Tennis') & (data['Year'] == 2000) & (data['Medal'] == 'Silver')]
print (data6['ID'].count())

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

        - Yes 
- No

In [35]:
# You code here 

data7 = data.dropna(subset=['Medal'])
data7 = data7[data7['Year'] == 2016]
serb = data7[data7['Team'] == 'Serbia']['ID'].count()
switz = data7[data7['Team'] == 'Switzerland']['ID'].count()
print('Serbia won',serb,'medals')
print('Switzerland won',switz,'medals')

Serbia won 54 medals
Switzerland won 11 medals

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
    - [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [60]:
# You code here 

data8 = data[data['Year'] == 2014]
data8 = data8.drop_duplicates(subset=['ID'])
data8['Age_group'] = data8['Age']

def age_group(age):
    if age >= 45:
        return '[45-55]'
    elif age >=35:
        return '[35-45)'
    elif age >=25:
        return '[25-35)'
    else:
        return '[15-25)'

data8['Age_group'] = data8['Age_group'].apply(age_group)
data8['Age_group'].value_counts()

[25-35)    1397
[15-25)    1193
[35-45)     150
[45-55]       5
Name: Age_group, dtype: int64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
    - No, Yes 
- No, No

In [68]:
# You code here 

data9_1 = data[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')]
data9_1.info()
data9_2 = data[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')]
data9_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 15 columns):
ID        0 non-null int64
Name      0 non-null object
Sex       0 non-null object
Age       0 non-null float64
Height    0 non-null float64
Weight    0 non-null float64
Team      0 non-null object
NOC       0 non-null object
Games     0 non-null object
Year      0 non-null int64
Season    0 non-null object
City      0 non-null object
Sport     0 non-null object
Event     0 non-null object
Medal     0 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 0.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1657 entries, 935 to 270882
Data columns (total 15 columns):
ID        1657 non-null int64
Name      1657 non-null object
Sex       1657 non-null object
Age       1563 non-null float64
Height    238 non-null float64
Weight    159 non-null float64
Team      1657 non-null object
NOC       1657 non-null object
Games     1657 non-null object
Year      1657 non-null int64
Season    1657 non-null object
City      1657 non-null object
Sport     1657 non-null object
Event     1657 non-null object
Medal     224 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 207.1+ KB

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
    - 34

In [76]:
# You code here 

data10 = data[data['Year'] == 2016]
data10['Sport'].nunique()

34