<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [4]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [5]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [55]:
df.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- **45530 женщин и 24470 мужчин**
- 45530 мужчин и 24470 женщин

In [74]:
print('Данные для Gender = 1 Женщины', '\n')
print('Количество Count', df[df['gender'] == 1]['height'].count())
print('Средний height', df[df['gender'] == 1]['height'].mean())
print('Медиана height', df[df['gender'] == 1]['height'].median())
print('min height', df[df['gender'] == 1]['height'].min())
print('max height', df[df['gender'] == 1]['height'].max(), '\n', '\n')

print('Данные для Gender = 2 Мужчины', '\n')
print('Количество Count', df[df['gender'] == 2]['height'].count())
print('Средний height', df[df['gender'] == 2]['height'].mean())
print('Медиана height', df[df['gender'] == 2]['height'].median())
print('min height', df[df['gender'] == 2]['height'].min())
print('max height', df[df['gender'] == 2]['height'].max())

print('\n', '\n')

g = df.groupby('gender') 
for (i, sub_df) in g:
    print(sub_df['height'].mean(), sub_df['gender'].mean())

Данные для Gender = 1 Женщины

Количество Count 45530
Средний height 161.35561168460356
Медиана height 161.0
min height 55
max height 250


Данные для Gender = 2 Мужчины

Количество Count 24470
Средний height 169.94789538210054
Медиана height 170.0
min height 65
max height 207



161.35561168460356 1.0
169.94789538210054 2.0

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

In [56]:
print('Для Gender = 1 Женщины')
print('В среднем употребляет алкоголь каждая', df[df['gender'] == 1]['alco'].mean(), '\n')
print('Для Gender = 2 Мужчины')
print('В среднем употребляет алкоголь каждый', df[df['gender'] == 2]['alco'].mean(), '\n')

Для Gender = 1 Женщины
В среднем употребляет алкоголь каждая 0.02549967054689216

Для Gender = 2 Мужчины
В среднем употребляет алкоголь каждый 0.10637515324887617

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- **12**
- 16

In [72]:
round(df[df['gender'] == 2]['smoke'].mean() / df[df['gender'] == 1]['smoke'].mean())

12

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- **20**
- 25

In [2]:
df['years'] = df['age'] / 365.25
print('Медиана возраста курящих', df[df['smoke'] == 1]['years'].median(), '\n')
print('Медиана возраста некурящих', df[df['smoke'] == 0]['years'].median(), '\n')

print ((df[df['smoke'] == 1]['years'].median() - df[df['smoke'] == 0]['years'].median()) * 12)

NameError: name 'df' is not defined

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- **3**
- 4
- 5

In [4]:
import pandas as pd
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')
df['age_years'] = round(df['age'] / 365.25)


round((df[(df['gender'] == 2) &
          (df['smoke'] == 1) &
          (df['age_years'] >= 60) &
          (df['age_years'] <= 64) &
          (df['ap_hi'] < 180) &
          (df['ap_hi'] >= 160) &
          (df['cholesterol'] == 3)]['cardio'].mean())
/
    (df[(df['gender'] == 2) &
        (df['smoke'] == 1) &
        (df['age_years'] >= 60) &
        (df['age_years'] <= 64) & 
        (df['ap_hi'] < 120) &
        (df['cholesterol'] == 1)]['cardio'].mean()))

3

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- **Медианный BMI по выборке превышает норму**
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- **В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин**

In [221]:
df['BMI'] = df['weight'] / df['height'] / df['height'] * 10000

print('медиана BMI')
print(df['BMI'].median(), '\n')


print ('Средний BMI женщин минус средний BMI мужчин. У женщин больше')
print(df[df['gender'] == 1]['BMI'].mean() - df[df['gender'] == 2]['BMI'].mean(), '\n')

print ('Средний BMI здоровых минус средний BMI больных. У здоровых меньше')
print(df[df['cardio'] == 0]['BMI'].mean() - df[df['cardio'] == 1]['BMI'].mean(), '\n')


print ('Средний BMI здоровых и непьющих мужчин')
print(df[(df['cardio'] == 0) & (df['gender'] == 2) & (df['alco'] == 0)]['BMI'].mean(), '\n')

print ('Средний BMI здоровых и непьющих женщин')
print(df[(df['cardio'] == 0) & (df['gender'] == 1) & (df['alco'] == 0)]['BMI'].mean(), '\n')

медиана BMI
26.37406812077498

Средний BMI женщин минус средний BMI мужчин. У женщин больше
1.2331410845436466

Средний BMI здоровых минус средний BMI больных. У здоровых меньше
-2.0178854202206864

Средний BMI здоровых и непьющих мужчин
25.872638075460173

Средний BMI здоровых и непьющих женщин
26.845406594131518

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- **10**
- 11

In [257]:

round(df[
    (df['ap_hi'] < df['ap_lo']) |
   (df['height'] < df['height'].quantile(0.025)) |
   (df['height'] > df['height'].quantile(0.975)) |
   (df['weight'] < df['weight'].quantile(0.025)) |
   (df['weight'] > df['weight'].quantile(0.975))
  ]['gender'].count() / df['gender'].count() * 100)

10.0